# Application URL
APP_URL=https://earnify-web-gnrqox-fcc403-187-124-92-173.traefik.me

# Database Configuration
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# Security
JWT_SECRET=Earnify2026!xK9#mP2$vL8@nQ5

# CPAGrip Configuration
CPAGRIP_USER=1152355
CPAGRIP_KEY=129a0adeefd68d21748d250386079204
CPAGRIP_POSTBACK_PASSWORD=Earnify2026!
